[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NEXT_USE_NETLIFY_EDGE = "true"
  SECRETS_SCAN_ENABLED = "false"

# Netlifyデフォルトドメインから3dlab.jpへリダイレクト
[[redirects]]
  from = "/*"
  to = "https://3dlab.jp/:splat"
  status = 301
  force = true
  conditions = {Host = ["3dworkshop.netlify.app"]}

# wwwから非wwwへリダイレクト
[[redirects]]
  from = "/*"
  to = "https://3dlab.jp/:splat"
  status = 301
  force = true
  conditions = {Host = ["www.3dlab.jp"]}